@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
} 

body {
    background: url('../pacote-d013/imagens/tela_madeira5.jpg') top center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;
    height: 384px;
    width: 184px;
    background: url('../pacote-d013/imagens/Iphone.png') no-repeat center;
}
iframe#tela {
    position: relative;
    border-radius: 16px;
    top: 09px;
    left: 07px;
    width: 171px;
    height: 368px; 
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(252, 252, 252, 0.884);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.801);
    transition: transform .2s;
}

img#logo {
    width: 60px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.425);
}